@model IEnumerable<SkopjeCS.Models.Charging_station>

@{
    ViewBag.Title = "Tabular View";
}

<h2>Stations for charging electric vehicles</h2>

<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                Municipality
            </th>
            <th>
                Address
            </th>
            <th>
                Operator
            </th>
            <th>
                Type
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.operatorCS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tip)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>

        $("#tabela").DataTable();

    </script>
}